/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.main{

    background-image: url("img-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

    

/* Container styling */
.container {
    max-width: 1200px;
    min-width: 300px;
    min-height:100vh;
    margin: auto;
    padding: 20px;
    /* border: 2px solid black;    */
    
}

/* Header styles */
header {
    background: rgba(0, 0, 0, 0.6);   
    color: rgba(233, 198, 5, 0.826);
    padding: 20px;
    text-align: center;
}

/* nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
} */

/* Main content section */
.main-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    background-color: #211919;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.card h2 {
    color: white;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #d2e1d2;
    color: black;
}